@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital@0;1&family=Lora:ital,wght@0,400;0,600;1,400&family=Montserrat:ital,wght@1,300&family=Nunito:ital,wght@0,400;0,500;0,800;0,900;1,400;1,700;1,900&family=Open+Sans:wght@300;400&family=Poiret+One&family=Rubik&family=Tenor+Sans&display=swap');
body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poiret One', cursive;
}

/* ====================INÍCIO - DO MENU DE NAVEGAÇÃO=============================== */

ul {
    list-style: none;
    padding: 0;
}

a {
    list-style: none;
    text-decoration: none;
    color: #801d07;
/*     text-transform: capitalize; */
    outline: none; border: none;
    text-decoration: none;
   
}
*::selection{
    background-color: orange;
    color: #fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.767);
    border-bottom: 1px solid rgba(12, 1, 1, 0.089);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
/*     border-radius: 0 0 10px 10px;  */
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    left: 0;
    right: 0;
    padding: 0 9%;
}

/* ====================INÍCIO - EFEITO DO MENU DA NAVEGAÇÃO BORDER BOTTOM=============================== */

/* #nav-container .nav__list {
   
    position: relative;
} */

#nav-container .nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin: 0 .8rem;
}
#nav-container a:hover {
    color: #ff0000;
 
}
#nav-container .nav span {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin: 0 .8rem;
}
#nav-container span:hover {
    color: #ff0000;

}



/* ====================FIM - EFEITO DO MENU DA NAVEGAÇÃO BORDER BOTTOM=============================== */




/* ====================Início da LOGO - DO MENU DE NAVEGAÇÃO=============================== */

#nav-container .logo  {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 35px ;
    color: rgb(255, 255, 255);
 
}
#nav-container .logo_link  {
   text-decoration: none;
   position: relative;
   left: 0;

}

 

#nav-container .logo-anotherColor  {
    font-family: 'Poiret One', cursive;
    color: #ff0000;
    font-size: 40px ;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 1px 0px 0px rgba(255, 252, 252, 0.575);
}


/* ====================Fim da LOGO - DO MENU DE NAVEGAÇÃO=============================== */


/* ====================CONTINUAÇÃO - DO MENU DE NAVEGAÇÃO=============================== */



#nav-dad {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    text-align: center; 
    
}


.nav__list {
       line-height: 80px;
   
}
.nav i{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0 .8rem;
    cursor: pointer;
}

/* .nav__list {
line-height: 80px;
padding: 0 10px 0 ;    
} */

/* ===================início na área de pesquisa==================================== */

#nav-container .icons_search i{
    font-size: 2.8rem;
    color: #ff0000;
    cursor: pointer;
    margin-left: 2rem;
    line-height: 80px;
}

#nav-container .icons_search i:hover{
    color: white;
}

#nav-container .seach-bar-container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background: rgba(0, 0, 0, 0.596);
    border-top: .1rem solid rgba(255, 255, 255,0.2) ;
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0) ;
}

#nav-container .seach-bar-container.active{
    clip-path:  polygon(0 0, 100% 0, 100% 100%, 0 100%) ;
}

#nav-container .seach-bar-container #search-bar{
   width: 100%;
   padding: 1rem;
   text-transform: none;
   color: #333;
   font-size: 1rem;
   border-radius: 7px;
}

#nav-container .seach-bar-container label{
    color: #ff0000;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
    
}
#nav-container .seach-bar-container label:hover{
  color: #f8f6f6;

}


#nav-container .seach-bar-container .btn-close {
    width: 28px;
    height: 28px;
    background: url(../images/icon/btn_close.svg) no-repeat center center;
    background-size: 18px 18px;
    margin-left: auto;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}



/* ===================Fim na área de pesquisa==================================== */

/* ====================Fim da CONTINUAÇÃO - DO MENU DE NAVEGAÇÃO=============================== */



/* ======================Início menu bar====================== */

#menu-bar{
    color: white;
    border: .1rem solid #fff;
    border-radius: .3rem;
    font-size: 1.5rem;
     padding: .4rem  .4rem; 
    cursor: pointer;
    display: none;

}

/* Media Tamanho  */

@media(max-width: 490px) and (min-width:300px) {
  html{
      font-size: 100%;
}
    /* ==============PRODUTO @MEDIA================= */
    .dropdown {
      position: absolute;
         top: 0;
         left: 45%;
         right: 0;
         margin: 0 auto;
        }
        /* ==================produto========================== */
        #produto .produto-container{
          flex-direction: column;
          align-items: center;
        width: 100%;
          height: auto;
          font-family:Arial, 'Rubik', sans-serif;

        
        }

        .produto-item{
          max-width: 100%;
          height: auto;

        }

        .produto-item img{
          width: 100%;
        }

/* ==============CONTATO @MEDIA================= */
     #contato .contato-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      }
      .contato-formulario{       
          width: 100%;
          
      }
      .contato-informacao {
          text-align: center;
          width: 100%; 
          padding-top: 10%;
        }
        .contato-informacao table {
          margin: 0 auto;
        }

        /* ==============NAVEGAÇÃO @MEDIA================= */
  #menu-bar {
    display: initial;
  }
#menu-bar .active + .nav {
    display: block;
  }
header .nav{
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    border-top: .1rem solid rgba(255, 255, 255, .2);
  /*   padding: 1rem 2rem; */
   padding: 0;
/*      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
      }

  header .nav.active {
      display: block;
      /* clip-path:  polygon(0 0, 100% 0, 100% 100%, 0 100%); */
  }

  .nav__list {
      display: block; 
      width: 100%; 
      top: 100%;
      text-align: center;
  }
  header .nav a{
      display: block;
      border-radius: .5rem;
    /*  padding: 1.5rem; */
    padding-top: 5%;
      margin: 2rem 0;
      border: none;
    
    }


    #nav-container .icons_search i{
    margin-left: 48%;
  }




     /* ==============PRODUTO-SLIDER @MEDIA================= */
     .produto-slider i {
      display: block; 
    } 
    .produto-carrosel {
      overflow-x: auto; 
     width: auto;
      padding-left: 500%;
    }
    .produto-carrosel .produto-carrosel-item {
      width: auto; 
      transition: 1s;
 }
    .produto-carrosel{
      padding-left: 500%;
    }


  
 }



@media (max-width: 768px) and (min-width:500px) {
    /* ==============PRODUTO @MEDIA================= */
 /*    .dropdown {
      position: absolute;
         top: 0;
       /*   left: 45%; 
         right: 0;
         margin: 0 auto;
        } */
        
    #produto .produto-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      height: auto;
      font-family:Arial, 'Rubik', sans-serif;

    
    } 

    .produto-item{
      max-width: 100%;
      height: auto;

    }

    .produto-item img{
      width: 100%;
    }



     /* ==============CONTATO @MEDIA================= */
     #contato .contato-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
   /*    padding-left: 25px; */
      }
    .contato-formulario{       
        width: 100%;
   
    }
    .contato-informacao {
        text-align: center;
        width: 100%; 
        padding-top: 10%;
      }
      .contato-informacao table {
        margin: 0 auto;
      }
  /* ==============NAVEGAÇÃO @MEDIA================= */
      #menu-bar {
        display: initial;
    }
      #menu-bar .active + .nav {
          display: block;
        }
      header .nav{
          display: none; 
          position: absolute;
          top: 100%;
          right: 0;
          left: 0;
          border-top: .1rem solid rgba(255, 255, 255, .2);
        /*   padding: 1rem 2rem; */
        padding: 0;
      /*      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
            }

        header .nav.active {
            display: block;
            /* clip-path:  polygon(0 0, 100% 0, 100% 100%, 0 100%); */
        }

        .nav__list {
            display: block; 
            width: 100%; 
            top: 100%;
            text-align: center;
        }
        header .nav a{
            display: block;
            border-radius: .5rem;
          /*  padding: 1.5rem; */
          padding-top: 5%;
            margin: 2rem 0;
            border: none;
          
          }


          #nav-container .icons_search i{
          margin-left: 48%;
        }

  
     /* ==============PRODUTO-SLIDER @MEDIA================= */
     .produto-slider i {
      display: block; 
    } 
    .produto-carrosel {
      overflow-x: auto; 
      display: flex;
      padding-left: 100%;
    }
    .produto-carrosel .produto-carrosel-item {
      width: 200px; 
    
    }
  }

 /* ==============QUEM-SOMOS @MEDIA================= */
#quem-somos{
    position: relative;
    top: 0%;
    left: 0%;
    flex-direction: column; 
    align-items: center; 
   
}


   /* ==============SLIDER-HOME @MEDIA================= */
.slider{
    margin-top: 15px;
}



@media(max-width: 991px){
  header{
      padding: 2rem;
      
  }

     /* ==============PRODUTO-SLIDER @MEDIA================= */

     /* ==============PRODUTO-SLIDER @MEDIA================= */
     .produto-slider i {
      display: block; 
    } 
    .produto-carrosel {
      overflow-x: auto; 
      display: flex;
      padding-left: 100px;
    }
    .produto-carrosel .produto-carrosel-item {
      width: 200px; 
    
    }

header .nav{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #333;
    border-top: .1rem solid rgba(255, 255, 255, .2);
 /*    padding: 1rem 2rem; */
     padding: 0;
   

   }
   
    .nav__list {
      margin: 0 auto;
      line-height: 40px;
    
    }
      /* ==============PRODUTO @MEDIA================= */
      .dropdown {
        position: absolute;
           top: 0;
           left: 45%;
           right: 0;
           margin: 0 auto;
          }
          
  #produto .produto-container{
    display: flex;
/*     justify-content: center; */
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: auto;
    font-family:Arial, 'Rubik', sans-serif;
   gap: 20px;
   
  }

  .produto-item{
    max-width: 50%;
    height: auto;
  
   }

   .produto-item img{
     width: 50%;
   }
  



}



@media (max-width: 990px) and (min-width: 770px) {
          /* ==============NAVEGAÇÃO @MEDIA================= */
    .nav__list {
        line-height: 80px;
        display: flex; /* Exibir os itens do menu em uma única linha */
        justify-content: center;
    
    }
    .nav__item {
        margin: 0 10px; /* Espaçamento horizontal entre os itens do menu */
    
      }
    header .nav{
        width: 100%;
    flex-direction: row;

    }
       
    #nav-container .icons_search i{
        margin-right: 40px;
     }

         /* ==============QUEM-SOMOS @MEDIA================= */

    #quem-somos{
        position: relative;
        top: 0%;
        left: 0%;
        flex-direction: column; 
        align-items: center; 
       
    }

     /* ==============PRODUTO-SLIDER @MEDIA================= */
     .slider{
      margin-top: 58px;
      }
      .produto-slider i {
        display: block; 
      } 
      .produto-carrosel {
        overflow-x: auto; 
        display: flex;
        padding-left: 100px;
      }
      .produto-carrosel .produto-carrosel-item {
        width: 200px; 
      
      }
      /* ==============CONTATO @MEDIA================= */
       /*  #contato .contato-container{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          }
        .contato-formulario{       
            width: 100%;
       
        }
        .contato-informacao {
            text-align: center;
            width: 100%; 
            padding-top: 10%;
          }
          .contato-informacao table {
            margin: 0 auto;
          } */

            /* ==============PRODUTO @MEDIA================= */
        .dropdown {
          position: absolute;
             top: 0;
             left: 45%;
             right: 0;
             margin: 0 auto;
            }
            
    #produto .produto-container{
      display: flex;
  /*     justify-content: center; */
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      height: auto;
      font-family:Arial, 'Rubik', sans-serif;
     gap: 20px;
     
    }
  
    .produto-item{
      max-width: 50%;
      height: auto;
    
     }
  
     .produto-item img{
       width: 100%;
     }
    
  
  
     
}

@media(max-width: 1200px){
    html{
        font-size: 55%;
    }
    .nav__list {
    
        line-height: 80px;
      
    }
      /* ==============PRODUTO @MEDIA================= */
      .dropdown {
        position: absolute;
           top: 0;
           left: 45%;
           right: 0;
           margin: 0 auto;
          }
          
/*   #produto .produto-container{
    display: flex;
/*     justify-content: center; 
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: auto;
    font-family:Arial, 'Rubik', sans-serif;
   gap: 20px;
   
  }

  .produto-item{
    max-width: 50%;
    height: auto;
  
   }

   .produto-item img{
     width: 50%;
   } */
  


}



  
 
  
    






/* ======================Fim menu bar====================== */

/* ====================FIM -  MENU DA NAVEGAÇÃO =============================== */





/* ====================Início -  SLIDER =============================== */

section .slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    display: flex;
}

section .slider-conteudo{
    padding-top: 5%;
    width: 400%;
    height: auto;
    display: flex;
}

.slider-conteudo input{
    display: none;
}

.slider-conteudo .img-mobile{
    display: none;
}

.slide-img{
    width:25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}


.slide-img img{
    width: 100%;  
}

.nav-slider-manual, .nav-slider-auto{
    position: absolute;
    width: 100%;
    margin-top: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-slider-manual .slider-manual-botao,
 .nav-slider-auto div{
    border: 1px solid #ff0000;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-slider-manual .slider-manual-botao:not(:last-child){
    margin-right: 10px;
}

.nav-slider-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-slider-manual .slider-manual-botao:hover{
   background-color: #ff0000;
}

#slider-radio1:checked ~ .nav-slider-auto .nav-slider-auto1{
    background-color: #ff0000;
}
#slider-radio2:checked ~ .nav-slider-auto .nav-slider-auto2{
    background-color: #ff0000;
}
#slider-radio3:checked ~ .nav-slider-auto .nav-slider-auto3{
    background-color: #ff0000;
}
#slider-radio1:checked ~ .slider-img-primeiro{
    margin-left: 0%;
}
#slider-radio2:checked ~ .slider-img-primeiro{
    margin-left: -25%;
}
#slider-radio3:checked ~ .slider-img-primeiro{
    margin-left: -50%;
}
/* ====================FIM -  SLIDER =============================== */

/* ====================Início -  QUEM SOMOS =============================== */

/* #quem-somos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f9f9; 
/*     box-shadow: 2px 5px 15px 1px rgba(0, 0, 0, 0.2); 
    width: 80%;
    margin: 0 auto;
    padding: 40px;

    
}

.section__quem-somos{
    flex: 1;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
}
#quem-somos .section__quem-somos h3{
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    color: black;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}
#quem-somos .section__quem-somos h4{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
#quem-somos .section__quem-somos p{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: black;
    padding-bottom: 40px;
}

.quem-somos-image img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da div 
    height: auto; /* Mantém a proporção da imagem 
    border-radius: 8px; /* Borda arredondada 
  }

   */

   .quem-somos {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;

  }
  
  .quem-somos__titulo {
    font-size: 36px;
    color: #333;
  }
  
  .quem-somos__descricao {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
  }
  
  .quem-somos__imagem {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos para a seção "Nossa Equipe" */
  .equipe {
    background-color: #fff;
    padding: 50px 0;
  }
  
  .equipe__titulo {
    font-size: 36px;
    color: #333;
  }
  
  .equipe__membro {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 5px;
  }
  .equipe__membro img{
   width: 200px;
   border-radius: 50%;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

  }
  
  .equipe__nome {
    font-size: 24px;
    color: #333;
  }
  
  .equipe__cargo {
    font-size: 18px;
    color: #666;
  }
  
  /* Estilos para a seção "Depoimentos" */
#depoimentos{
  margin-bottom: 100px;
}
  .depoimentos__titulo {
    font-size: 36px;
    color: #333;
  }
  
  .depoimentos {
    text-align: center;
    background-color: #f5f5f5;
    padding: 50px 0;
  }
  .depoimento__imagem{
    width: 40px;
   border-radius: 5%;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  .depoimento .fiveStar{
    width: 70px;
  }


  .depoimento__nome {
    font-size: 20px;
    color: #333;
  }
  
  .depoimento__texto {
    font-size: 16px;
    color: #666;
  }
  
  /* Estilos para botão "Voltar ao Topo" */
  #scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }


  /* =========================PRODUTOS===================================== */

  
  .dropdown-container {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;

  }
  
  .custom-select {
    position: relative;
    display: inline-block;
    width: 350px;

  }
  
  .select-dropdown {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
  }


/* ====================================PRODUTOS-slider================================== */
.produto-slider {
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    width: 100%;
/*      max-width: 2000px;  */
}

.produto-slider i{
 background-color: #fff;
 text-align: center;
 line-height: 50px;
 border-radius: 100%;
 cursor: pointer;
 position: relative;
  top: 25%;
  transform: translateY(-50%);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.23);
  font-size: 4.5rem;
  color: #504f4f;

} 

.produto-slider i:first-child{
left: 18px;
}
.produto-slider i:last-child{
right: 18px;
}

.produto-slider :where(.produto-carrosel,  .produto-carrosel-item-img){
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
} 

.produto-slider .produto-carrosel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 8) - 10px );
    gap: 308px;
    padding-left: 100%;
    overflow-x:auto; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.produto-carrosel::-webkit-scrollbar{
    display: none;
}

.produto-carrosel .produto-carrosel-item{
list-style: none;
scroll-snap-align: start;
 height: auto; 
width: 300px;
border: #ccc 1px solid;
text-align: center;
border-radius: 30px;
background-color: #f8f6f6;
box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.2);
display: flex;
cursor: pointer;
padding-bottom: 5px;
align-items: center;
justify-content: center;
flex-direction: column;

}

.produto-carrosel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.produto-carrosel .dragging .produto-carrosel-item{
cursor: grab;
user-select: none;
}

/* .produto-carrosel .produto-carrosel-item-img {
    background-color: #ff0000;
    width: 148px;
    height: 148px;
    border-radius: 10px;
} */
.produto-carrosel .produto-carrosel-item-img img{
       object-fit: cover;
       width: 100%;
       border-radius: 30px 30px 0 0;
}
.produto-carrosel h5{
    font-weight: bold;
    font-size: 2rem;
    margin: 20px 0 0;
}

.produto-carrosel .preco{
    color: black;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.produto-carrosel .oferta{
    color: red;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px ;
    text-decoration: none;
}
.produto-carrosel .oferta:hover{
  color: yellow;
  background-color: red;
}
/* ====================================PRODUTOS================================== */

  #produto h2{
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    color: black;
    text-align: center;
    padding-bottom: 20px;
 
  }
  #produto h6{
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    color: black;
    text-align: center;
    padding-bottom: 20px;
 
  }

  #produto{
    padding: 20px;
    margin-bottom: 100px;
    height: auto;

  }
/*  
.produto-titulo{
  text-align: center;
  margin: 0 auto;
} */

#produto .produto-container {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Poiret One', cursive;
}

#produto .produto-item {
    width: 320px;
    height: auto;
    border: #ccc 1px solid;
    text-align: center;
    border-radius: 10px;
    background-color: #f8f6f6;
    box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; ;
    font-family: 'Poiret One', cursive;
}

  .produto-item img{
    width: 100%;
    border-radius: 10px 10px   0 0 ;

  }
  .produto-item h3{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    font-family: 'Poiret One', cursive;
  }
  .produto-item p{
    font-size: 15px;
    padding: 5px;
    font-family: 'Poiret One', cursive;

  }

  .produto-item a{
    width: 100%;
    height: 30px;
    line-height: 30px;
    /*  margin-bottom: 5px;  */
   text-decoration: none;
   border:none;
   color: #ff0000;
   font-weight: bold;
   font-size: 17px;


 }

  .produto-item a:hover{
   color: white;
   font-weight: bold;
   font-size: 17px;
   border-radius: 0 0 10px 10px;
   background-color: #ff0000;
 }

/*  #produto button{
    width: 180px;
    height: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: #ff0000 1px solid;
    background-color: white;
    border-radius: 10px;
    color: #ff0000;
    font-weight: 400;
    margin-left: 43%;
    /* Em caso de erro excluir essa margem 
 }

 #produto button:hover{
    background-color: #333;
    color: #ccc;
    border: #ccc 1px solid;
   
 } */




 /* ==============================CONTATO============================================= */

 #contato .contato-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: auto;
 }

 #contato .contato-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center; 
 }

 #contato h2{
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    color: black;
    text-align: center;
    padding-bottom: 45px;
    padding-top: 5%;
 }

 .contato-formulario h3{
    font-size: 40px;
    font-family: 'Poiret One', cursive;
 }

 .contato-formulario p{
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    padding: 10px 0 0 15px;

 }

 .contato-formulario input[type="text"], input[type="email"]{
    width: 400px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    font-family: 'Poiret One', cursive;
 }


.inputRadio{
    width: 100%;

}

.formulario-dropdown{
    text-align: center; 
    padding-right: 15%;
}

 .contato-formulario #message{
    width: 400px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 15px;
    font-family: 'Poiret One', cursive;
 }

 .contato-formulario #contato-button{
    position: relative;
    width: 100px;
    height: 35px;
    border: #ccc 1px solid;
    background-color: #0056b3;
    color: #ddd;
    font-size: 15px;
    font-family: 'Poiret One', cursive;
    border-radius: 15px;
    left: 35%;
    right: 0;

 }
 .contato-formulario #contato-button:hover{
    background-color: #0a7af1;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
 }
 .contato-formulario label{
    font-size: 15px;
    padding: 15px;
    font-family: 'Poiret One', cursive;
 }

 #contato .contato-informacao h3{
    font-size: 40px;
    font-family: 'Poiret One', cursive;
 }
 .contato-informacao table tr th{
  font-family: 'Poiret One', cursive;
  font-size: 17px;
 
 
 }

 table tr td a{
  font-family: 'Poiret One', cursive;
    font-size: 15px;
   /*  text-decoration: none; */
    color: #000000;
    padding: 2px;

 }

 table tr td{
  font-family: 'Poiret One', cursive;
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    padding: 5px;
  
 }

  iframe{
    border-radius: 15px;
    width: 350px;
 }

 .alerta{
    text-align: center;
    font-size: 5px;
    color: red;
  	font-weight: bold;
}

.alertaDeEnvio{
    text-align: center;
    font-size: 5px;
	color: green;
	font-weight: bold;
}


.dropdown-container-formulario {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;

}

.custom-select-formulario {
  position: relative;
  display: inline-block;
  width: 350px;

}

.select-dropdown-formulario {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
}

/* =====================CESTA============================ */
#itensAdicionado-cesta{
position: absolute;
top: 50%;
left: 0;
right: 0;
margin: 0 auto;
font-size: 25px;
text-align: center;
}
/* <!-----------------FOOTER--------------- --> */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    margin-top: 150px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .redes-sociais {
    margin-bottom: 20px;
  }
  
  .redes-sociais a i {
    font-size: 24px;
    margin-right: 5px;
  }
  
  .copyright {
    font-size: 12px;
  }